body{
    margin: 0;
    padding: 0;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;

}

nav{
    background: #2e3131	;
    margin: 0;
    overflow: hidden;
    padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99; }

ul{
    padding:  40px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration: none;
    color: #bdc3c7;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}


.block{
    height: 10em;
}

.block:nth-child(odd){
    background: #bdc3c7;
}

.block:nth-child(even){
    background-color: #dadfe1;
}

#scrollTop{
    position: fixed;
    opacity: 0;
    bottom: 100px;
    right: 100px;
    height: 50px;
    width: 50px;
    background: #7acec2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
